* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  width: auto;
  padding: 1rem;
  text-align: center;
  border: 2px dashed black;
  background-color: aquamarine;
}

/* Section */

#start {
  background-color: teal;
  color: white;
}

#portfolio {
  background-color: white;
  color: black;
}

#about {
  background-color: teal;
  color: white;
}

#footer {
  background-color: darkslategray;
  color: white;
}

.max-height-300 {
  max-height: 300px;
}

/* LINE */

.white-line {
  border: 1px solid white;
  width: 15%;
  display: inline-block;
}

.black-line {
  border: 1px solid black;
  width: 15%;
  display: inline-block;
}
